<div class="page-header">
  <h1>Nowe dziecko</h1>
</div>

<%= render 'form' %>

<ul class="pager">
  <li><%= link_to "Powrót do listy", children_path %></li>
  <li><%= link_to "Powrót do strony głównej", root_path %></li>
</ul>