<h1>Lista posiłków</h1>

<table class="table">
  <thead>
    <tr>
      <th class="col-md-4">Nazwa grupy</th>
      <th class="col-md-6">Liczba dzieci</th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

  <tbody>
    <%
      @groups = Group.all
      @groups.each do |group| %>
      <tr>
        <td class="col-md-4"><%= group.name %></td>
        <td class="col-md-6"><%= group.children.size %></td>
        <td class="col-md-2"><%= link_to glyph(:search), group, :class => 'x-icon' %>
          <%= link_to glyph(:pencil), edit_group_path(group), :class => 'x-icon' %>        </td>
      </tr>
    <% end %>
  </tbody>
</table>