<div class="page-header">
  <h1>Wybierz dzień</h1>
</div>

<table class="table">
  <thead>
    <tr class="row">
      <th class="col-md-12">Data</th>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr class="row">
        <td class="col-md-12"><%= link_to day.strftime("%d-%m-%Y"), day_meals_path(day.year, day.month, day.day) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<ul class="pager">
  <li><%= link_to "Powrót do strony głównej", root_path %></li>
</ul>