<% provide(:title, "O projekcie") %>
<h1>O projekcie</h1>
<p>Aplikacja tworzona jest na potrzeby projektu kursu Zastosowanie informatyki w gospodarce. Aplikacja pozwalać ma na zarządzanie działalnością przedszkola, a w szczególności ma ułatwić proces rozliczania finansowego.</p>
<p>Autorzy:
<ul>
  <li>Miłosz Kachniarz</li>
  <li>Adrian Kordos</li>
  <li>Jakub Wężykowski</li>
</ul></p>
<%= link_to "Powrót na stronę główną", root_path %>