<% provide(:title, "O projekcie") %>

<div class="page-header">
  <h1>O projekcie</h1>
</div>
<p>Aplikacja tworzona jest na potrzeby projektu kursu Zastosowanie informatyki w gospodarce. Aplikacja pozwalać ma na zarządzanie działalnością przedszkola, a w szczególności ma ułatwić proces rozliczania finansowego.</p>

<!-- Nasz zespół -->
<div class="row">
  <div class="col-md-4">
    <h2 class="page-header">Autorzy: </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
      <%= image_tag "head.jpg" %>
      <h3>Miłosz Kachniarz
          <small>Backend</small>
      </h3>
      <p>Krótki opis</p>
  </div>
  <div class="col-md-4">
      <%= image_tag "head.jpg" %>
      <h3>Adrian Kordos
          <small>Frontend</small>
      </h3>
      <p>Kierownik projektu odpowiada za komunikację z klientem, a także za wizualny całokształt strony.</p>
  </div>
  <div class="col-md-4">
      <%= image_tag "head.jpg" %>
      <h3>Jakub Wężykowski
          <small>Backend</small>
      </h3>
      <p>Krótki opis</p>
  </div>
</div>

<nav>
  <ul class="pager">
    <li><%= link_to "Powrót na stronę główną", root_path %></li>
  </ul>
</nav>
