<h1>Kindergarten</h1>
<p>Witaj na stronie głównej aplikacji tworzonej na potrzeby projektu ZIwG!</p>
<p>Wkrótce pojawi się tu więcej treści. Tymczasem możesz zajrzeć na <%= link_to "stronę z informacjami o projekcie", about_path %>.</p>